
.head{
    display: flex;
    background-color: black;
    position: sticky;
    top: 0hv;
}

.top{
    display: flex;
    /* flex-direction: row;
    justify-content: space-around;
    align-content: space-around; */
    color: white;
}

.spin{
    /* justify-content: space-between; */
    align-content: space-around;
    color: white;
    text-decoration: none;
}

#herofeature{
    position: relative;
    top: 40vh;
    left: 30vw;
    color: white;
    font-size: 60pt;
}

.mid{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /* justify-content: flex-start; */
}

.middlerows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; 
}

.middleplays{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.playphoto{
    width: 12vw;
    height: auto;
}

#datetag{
    border: 1px solid pink;
    background-color: pink;
}

#date{
    text-indent: 2hw;
}

.bottom{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btmcatagories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btmmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.fa-solid{
    color: orange;
}