.page{
    margin: 0;
}

body{
    margin: 0;
}

.head{
    display: flex;
    background-color: black;
    position: sticky;
    top: 0hv;
}

.top{
    display: flex;
    color: white;
}

.top > h2{
    padding-right: 5vw;
    padding-left: 5vw;
}

.spin{
    display:flex;
    width: 62.5vw;
    align-content: space-around;
    color: white;
    text-decoration: none;
}

.spin > a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    padding-left: 8vw;
    align-self: center;
    font-size: small;
}


#herofeature{
    position: relative;
    top: 40vh;
    left: 30vw;
    color: white;
    font-size: 60pt;
}

.mid{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: -252px;
    margin-bottom: 3vh;
}

.midblock{
    margin-top: 16vh;
}

.middlerows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; 
}

.middleplays{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 2vw;
}

.readmore{
    background-color: rgb(214, 181, 20);
    color: white;
    padding: .75vw;
    border: 1px solid grey;

}

.playphoto{
    width: 12vw;
    height: auto;
}

#datetag{
    border: 1px solid grey;
    background-color: white;
    width: 47vw;
    position: relative;
    margin-left: 26.5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 1vh;
}

#date{
    text-indent: 2vw;
    margin: 0;
}

.playtext > h4{
    margin-bottom: 0%;
    font-weight: bold;
}

.playdetails{
    height: 16vh;
    margin-top: 1vh;
    padding-right: 6vw;
}

.divide{
    width: 45vw
}

.bottom{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btmcatagories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btmmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 13vw;
}

.btmmenu > a{
    color: white;
    text-decoration: none;
    padding-top: 2vh;
    padding-bottom: 4vh;
}

.btmmenu > h3{
    font-family: sans-serif;
    font-size: 20pt;
}


.fa-solid{
    color: orange;
}